@page "/animatedtitle"

@code {

    readonly AnimationTrigger _titleAnimation = new("fly-in");

    void Trigger()
    {
        _titleAnimation.Trigger();
        StateHasChanged();
    }

}

<button @onclick="Trigger">Trigger</button>

<h1 class="title-animated" style="@_titleAnimation">Home</h1>

<Style>
    .title-animated {
        color: red;
        font-size: 48px;
        animation: 1s linear;
    }
    
    @@keyframes _triggered_fly-in
    {
        0% {
            margin-left: -100px;
        }    
        
        100% {
            margin-left: 0;
        }
    }
    
    @@keyframes other-keyframes
    {
        0% {
            margin-left: -100px;
        }    
        
        100% {
            margin-left: 0;
        }
    }
</Style>